<!doctype html>
<html lang="en">
<%- include('partials/head'); %>
<body>
<div class="container">
    <%- include('partials/header'); %>
    <section class="my-2 p-2 bg-light shadow rounded">
        <h1 class="text-center">Oops, it looks like an error occured...</h1>
        <hr>
        <h3 class="text-center"><%= title %></h3>
    </section>
</div>

</body>
</html>