<!doctype html>
<html lang="en">
<%- include('partials/head'); %>
<body>
<div class="container">
    <%- include('partials/header'); %>
    <% if (user) { %>
        <section class="rounded shadow bg-light p-3 my-3">
            <form class="text-end" method="post" action="http://localhost:8080/postNote">
                <div class="form-floating my-2 text-start">
                <textarea class="form-control" placeholder="Leave a note here" id="newNoteTextarea"
                          name="text"></textarea>
                    <label for="newNoteTextarea">New note</label>
                </div>
                <button class="btn btn-primary" type="submit">Make a note</button>
            </form>
        </section>

        <section class="d-flex flex-wrap justify-content-around my-3">
            <% for (let note of notes) { %>
                <section class="shadow bg-warning rounded p-3 m-3" style="width: 30%">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="fw-bold m-0"><%= new Date(note.updatedAt).toLocaleString() %></p>
                        <div class="d-flex justify-content-around gap-1">
                            <form action="http://localhost:8080/checkNote/<%= note._id %>" method="post">
                                <button type="submit"
                                        class="btn btn-light <% if (note.completed) { %> text-success <% } else { %> text-white <% } %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-check-lg" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                    </svg>
                                </button>
                            </form>
                            <form action="http://localhost:8080/deleteNote/<%= note._id %>" method="post">
                                <button type="submit" class="btn btn-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                    <form method="post" action="http://localhost:8080/editNote/<%= note._id %>" class="text-end">
                        <div class="form-floating my-2 text-start">
                        <textarea class="form-control" placeholder="Leave a note here"
                                  name="text"><%= note.text %></textarea>
                            <label for="floatingTextarea">Note</label>
                        </div>
                        <button class="btn btn-light" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-save" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                            </svg>
                        </button>
                    </form>
                </section>
            <% } %>
        </section>
    <% } else { %>
        <section class="my-2 p-2 bg-light shadow rounded text-center">
            <h1>Welcome! This is a Note app</h1>
            <hr>
            <p>Using this app you can operate your notes. You can add new notes, delete, edit and check them.</p>
            <p>But you have to be signed up for using this app...</p>
        </section>
    <% } %>
</div>
</body>
</html>