<header>
    <nav class="container my-3 p-3 bg-primary text-light bg-gradient rounded shadow">
        <div class="row">
            <div class="col">
                <% if (user) { %>
                    <h1 class="fs-3 m-0">Hi, <%= user.username %>!</h1>
                <% } else { %>
                    <h1 class="fs-3 m-0"><a href="http://localhost:8080" class="text-white text-decoration-none">Hello!</a></h1>
                <% } %>
            </div>
            <div class="col text-end">
                <% if (user) { %>
                    <a class="btn btn-light" data-bs-toggle="modal" data-bs-target="#passwordChangeModal">Change password</a>
                    <a class="btn btn-light" href="http://localhost:8080/deleteAccount">Delete account</a>
                    <a class="btn btn-light" href="http://localhost:8080/logout">Log out</a>
                <% } else { %>
                    <a class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal">Log in</a>
                    <a class="btn btn-light" data-bs-toggle="modal" data-bs-target="#registerModal">Sign up</a>
                <% } %>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="http://localhost:8080/login">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                   aria-describedby="basic-addon1" name="username">
                        </div>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Sign up</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="http://localhost:8080/register">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                   aria-describedby="basic-addon1" name="username">
                        </div>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="signUpBtn">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="passwordChangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Sign up</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="/changePassword">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Old password" name="oldPassword">
                            <input type="password" class="form-control" placeholder="New password" name="newPassword">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="changePasswordBtn">Change password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

